.Question {
    margin: 50px 150px;
    width: 1000px;
    height: auto;
    align-items: center;
}

.question {
    display: flex;
    justify-content: space-between;
}

.side_icon button {
    display: flex;
    justify-content: baseline;
    background-color: #dafdee;
    margin-top: 20px;
    font-size: 20px;
    padding: 8px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: #bababa;
    width: 180px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

.side_icon img {
    margin-top: 10px;
    width: 60px;
    height: 50px;
}

.side_icon text {
    margin: 5px 10px;
    color: #7ad1be;
    font-size: 17px;
    font-weight: bold;
}

.sign img {
    width: 80px;
    height: 80px;
}

.counter button {
    background-color: #f7f7f7;
    margin-top: 20px;
    font-size: 20px;
    padding: 8px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: #bababa;
    width: 180px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

.counter span {
    margin: 5px 15px;
}

.counter img {
    margin: 5px 15px;
}

.question-title {
    display: flex;
    justify-content: baseline;
    margin-top: 80px;
}

.question-title .question-text {
    margin-right: 10px;
    color: #193051;
    font-weight: bold;
    margin-top: 10px;
    font-size: 20px;
}

.answer-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    width: 900px;
    margin-right: 50px;
    margin-bottom: 30px;
}

.answer-section button {
    flex: 0 0 40%;
    background-color: #fff8db;
    margin-top: 20px;
    font-size: 20px;
    padding: 8px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: #193051;
    font-weight: bold;
    width: 180px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

.answer-section button:hover {
    background-color: #ffd5e8;
}

.buttons-section {
    margin: auto;
    width: 30%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.buttons-section button {
    background-color: #ffe062;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
}

.vertification-section {
    margin: auto;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.vertification-section button {
    flex: 0 0 20%;
    background-color: #fff8db;
    margin-top: 5px;
    font-size: 18px;
    padding: 8px;
    text-align: center;
    transition: 0.5s;
    background-size: 100% auto;
    color: #193051;
    font-weight: bold;
    width: 100px;
    cursor: pointer;
    border-radius: 5px;
}

.vertification-section .logout {
    color: #f669a9 !important;
    background-color: #ffd5e8;
    border: 2px solid #f669a9;
    text-decoration: none !important;
}

.vertification-section .logout Link:link {
    color: #f669a9 !important;
}

.vertification-section .confirm {
    color: #ffffff;
    background-color: #5b87eb;
    border: 2px solid #5b87eb
}

.RightAnswer, .WrongAnswer {
    display: flex;
    justify-content: space-between;
    padding: 20px
}

.RightAnswer {
    background-color: #dafdee;
}

.WrongAnswer {
    background-color: #ffd5e8
}

.RightAnswer button, .WrongAnswer button {
    background-color: #ffffff;
    margin-top: 20px;
    font-size: 20px;
    padding: 8px;
    text-align: center;
    transition: 0.5s;
    background-size: 100% auto;
    width: 100px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

.RightAnswer button {
    color: #7ad1be;
}

.WrongAnswer button {
    color: #f87fb6;
}

.RightAnswer span {
    font-weight: bold;
    color: #7ad1be
}

.WrongAnswer {
    font-weight: bold;
    color: #f87fb6
}

.score-section {
    background-color: #73cec5;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #ffffff
}